body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 20rem;
    background: url('../img/fondo-foro.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}
.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar .logo i {
    margin-right: 10px;
}
.navbar .menu-icon {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
.navbar .menu-icon i {
    margin-right: 10px;
}
.navbar .items {
    display: flex;
    align-items: center;
}
.navbar .items a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}
.navbar .items a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar .items.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* ajustar según la altura de la barra de navegación */
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    z-index: 1;
}
@media (max-width: 768px) {
    .navbar .menu-icon {
        display: block;
    }
    .navbar .items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        flex-direction: column;
    }
    .navbar .items.active {
        display: flex;
    }
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    padding: 20px;
    margin-bottom: 20px;
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 2%,
        rgba(95, 95, 112, 1) 53%,
        rgba(146, 158, 161, 1) 100%
        );
    color: #fff;
    text-align: center;
}
.container h1 {
    font-size: 2rem;
}
.content {
    background: #ffffffd0;
    line-height: 1.8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content p{
    padding: 1rem 2rem;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(
        circle,
        rgba(146, 158, 161, 1) 0%,
        rgba(2, 0, 36, 1) 50%,
        rgba(95, 95, 112, 1) 99%
        );
    color: #f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#botones-categorias {
    text-align: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Espacio superior para separar del borde */
}

#botones-categorias ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

#botones-categorias li {
    display: inline-block; /* Hace que los elementos <li> se muestren en línea */
    margin-right: 10px; /* Espacio entre cada botón */
    vertical-align: top; /* Alineación vertical superior para evitar desalineación */
}

.categoria-btn {
    background-color: #0d0d0e60;
    border: 3px groove black;
    color: white;
    text-align: center;
    padding: 1.2rem;
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categoria-btn:hover {
    background-color: #dee3de77;
    color: black;
}

.subcategorias {
    text-align: center; /* Alineación centrada del texto */
    margin: 10px auto; /* Margen interno auto para centrar horizontalmente */
    padding: 10px 20px; /* Padding interior para el contenido */
    background-color: #f0ecec69;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

.subcategorias div {
    display: inline-block; /* Hace que los elementos <div> se muestren en línea */
    margin-right: 10px; /* Espacio entre cada botón */
}

.subcategoria-btn {
    background-color: #0d0d0e60;
    border: 3px groove black;
    color: black;
    text-align: center;
    padding: 1.2rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subcategoria-btn:hover {
    background-color: #dee3de77;
    color: black;
}
.categoria-btn.active,
.subcategoria-btn.active {
    background-color: #ffa500; /* Color de fondo para el botón activo */
    color: white; /* Color de texto para el botón activo */
}
#contenedor-temas{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.temas {
    margin-top: 3rem;
}
.temas h2{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5, 2px 2px 2px rgba(19,143,167,0);
}
.tema {
    padding: 1rem 2rem;
    background-color: #fff;
    border: 6px groove black;
    border-radius: 5px;
    margin: 1rem 2rem;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
    -webkit-box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
    -moz-box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
}
.tema:hover {
    background-color: #f0f0f0;
}
.tema h3 , p {
    font-size: 1.5rem;
}
.derecha{
    display: inline-flex;
    justify-content: space-between;
}
.ver-mas-btn{
    text-decoration: none;
    color: white;
    background: midnightblue;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.ver-mas-btn:hover{
    background: white;
    color: midnightblue;
    border: 2px solid midnightblue;
}

/*detalle*/
.content-detalle{
    padding: 1rem 2rem;
    background-color: #fff;
    border: 6px groove black;
    border-radius: 5px;
    margin: 1rem 2rem;
    width: 80%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
    -webkit-box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
    -moz-box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
}
.lista-respuestas{
    padding: 1rem 2rem;
    background-color: #fff;
    border: 2px groove black;
    border-radius: 5px;
    margin: 1rem 2rem;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
    -webkit-box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
    -moz-box-shadow: 10px 10px 67px 28px rgba(45,47,83,0.75) inset;
    list-style: none;
}

/*Login*/
.container-login{
    display: flex;
    width: 750px;
    height: 450px;
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    background: #081b29;
}

.wrapper {
    position: relative;
    width: 850px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    overflow: hidden;

}
.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .form-box-registro{
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.wrapper .form-box.login, .form-box-registro {
    left: o;
    padding: 0 60px 0 40px;
}
.form-box h2, .form-box-registro h2{
    font-size: 32px;
    color: #fff;
}
.form-box-registro p{
    color: #fff;
    text-align: center;
}
.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}
.input-box input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: #fff;
    padding-right: 23px;
    font-weight: 500;
    transition: 0.5s;
}
.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #0ef;
}
.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
    color: #0ef;
}
.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}
.btn::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: 0.5s;
}
.btn:hover:before {
    top: 0;
}

.form-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}
.logreg-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}
.logreg-link p a:hover {
    text-decoration: underline;
}

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    margin-right: 2rem;

}
.info-text h2 {
    font-size: 1rem;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 0 40px 10px 100px;
}
.info-text p {
    font-size: 16px;
    color: #fff;
    padding: 0 40px 60px 150px;
}
.wrapper .bg-animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    border-bottom: 3px solid #0ef;
    background: linear-gradient(45deg, #081b29,#0ef);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
}

.wrapper .bg-animate-registro{
    position: absolute;
    top: 160px;
    right: 0;
    width: 850px;
    height: 600px;
    border-bottom: 3px solid #0ef;
    background: linear-gradient(45deg, #081b29,#0ef);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
}

.info-text button{
    margin-top: 3rem;
    width: 40%;
}
.mensaje-exito {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.usuario-autenticado {
    font-weight: bold;
    color: #007bff;
    padding-right: 5rem;
    font-size: 2rem;
}
.btn-respuesta{
    padding: 1rem;
    margin-top: 2rem;
    border: 2px solid darkslategrey;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.btn-respuesta:hover{
    background: darkslategray;
    color: beige;    
}
.h3-respuesta{
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 3rem;
    border-top: 1px solid black;
}


