<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Foro de Tecnología</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="#" class="logo"><i class="fas fa-comments"></i> ForoTech</a>
            <div class="menu-icon" onclick="toggleMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <div class="items" id="navbarLinks">
                <a th:href="@{/login}" id="loginLink">Login</a>
                <a th:href="@{/registrar}" id="registerLink">Registrar</a>
            </div>
        </div>
        <!-- Header -->
        <header>
            <div class="container">
                <h1>Bienvenido al Foro de Tecnología</h1>
                <p>Discute y comparte conocimientos sobre las últimas tendencias en tecnología.</p>
            </div>
            <div th:if="${mensaje}" class="mensaje-exito">
                <p th:text="${mensaje}" style="color: green;"></p>
            </div>
        </header>
        <!-- Main Content -->
        <div class="container">
            <div class="content">
                <p>Este es nuestro Foro de Tecnología. Aquí encontrarás una amplia gama de discusiones sobre las últimas tendencias, herramientas y tecnologías emergentes en el mundo de la programación, desarrollo web, aplicaciones móviles, inteligencia artificial, y más. Explora las diversas categorías, descubre las subcategorías específicas y sumérgete en los debates y artículos que nuestra comunidad ha creado. Si tienes dudas, experiencias que compartir o simplemente quieres aprender algo nuevo, estás en el lugar adecuado. ¡Únete a la conversación y enriquece tus conocimientos junto a otros entusiastas de la tecnología!</p>
                <p>A continuación, selecciona una categoría para ver los temas relacionados:</p>
            </div>
        </div>
        <div id="botones-categorias">
            <ul>
                <li th:each="categoria : ${categorias}">
                    <button class="categoria-btn"
                            th:text="${categoria.descripcion}"
                            th:value="${categoria.name()}"
                            onclick="mostrarSubcategorias(this)">
                    </button>
                    <div class="subcategorias" th:id="'subcategorias-' + ${categoria.name()}" style="display: none;">
                        <form id="form-topicos" th:action="@{/buscarTopicos}" method="GET">
                            <input type="hidden" name="categoria" th:value="${categoria.name()}"/>
                            <div th:each="subcategoria : ${categoria.subcategorias}">
                                <button type="submit" class="subcategoria-btn"
                                        th:text="${subcategoria}"
                                        name="subcategoria"
                                        th:value="${subcategoria}">
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div style="display: flex">
            <div class="temas" style="width: 100%; justify-content: center; display: flex;flex-direction: column; align-items: center;">
                <h2 style="color: black">Registrar nuevo Tópico</h2>
                <div class="tema"  style="width: 80%">
                    <form id="formNuevoTopico" style="width: 100%; font-size: 1.5rem">
                        <label for="titulo" style="width: 100%; line-height: 2rem">Título:</label><br>
                        <input type="text" id="titulo" name="titulo" required style="width: 100%; padding: 1rem 0;"><br>

                        <label for="mensaje" style="width: 100%; line-height: 2rem">Mensaje:</label><br>
                        <textarea id="mensaje" name="mensaje" rows="5" required style="width: 100%; line-height: 2rem"></textarea><br>

                        <label for="cursoId" style="width: 100%; line-height: 2rem">Curso:</label><br>
                        <select id="cursoId" name="cursoId" required style="width: 100%; line-height: 2rem; padding: 1rem 0;">
                            <option value="">Selecciona un curso</option>
                            <!-- Aquí se pueden iterar los cursos disponibles desde el modelo -->
                            <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nombre}"></option>
                        </select><br>

                        <button type="submit" class="subcategoria-btn" style="width: 80%">Registrar Tópico</button>
                    </form>
                </div>
            </div>
            <div class="temas" style="width: 100%; justify-content: center; display: flex; flex-direction: column; align-items: center;">
                <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_INSTRUCTOR'')')}">
                    <h2>Registro de Curso</h2>
                    <div class="tema" style="width: 80%">
                        <form onsubmit="registrarCurso(event)">
                            <label for="nombre">Nombre del Curso:</label>
                            <input type="text" id="nombre" name="nombre" required>
                            <br><br>

                            <label for="categoria">Categoría:</label>
                            <select id="categoria" name="categoriaPrincipal" required onchange="actualizarSubcategorias()">
                                <option value="">Seleccione una categoría</option>
                                <option th:each="categoria : ${categorias}" th:value="${categoria.name()}" th:text="${categoria.descripcion}"></option>
                            </select>
                            <br><br>

                            <label for="subcategoria">Subcategoría:</label>
                            <select id="subcategoria" name="subcategoria" required>
                                <option value="">Seleccione una subcategoría</option>
                            </select>
                            <br><br>

                            <button type="submit">Registrar Curso</button>
                        </form>
                    </div>
                </div>
            </div>



        </div>
        <div id="contenedor-temas" class="temas" th:if="${topicos != null}">
            <h2>Temas Relacionados</h2>
            <ul th:if="${topicos.size() > 0}">
                <li th:each="tema : ${topicos}" style="list-style: none">
                    <div class="tema">
                        <div>
                            <h3 th:text="${tema.titulo}"></h3>
                            <p th:text="${tema.mensaje}"></p>
                        </div>
                        <div class="derecha">
                            <div style="margin: 2rem;font-size: 1.7rem;font-weight: 900;color: rebeccapurple;">
                                <p><span th:text="${#lists.size(tema.respuestas)}"></span></p>
                            </div>
                            <div>
                                <p>Creado por: <span th:text="${tema.autor?.nombre}">Anónimo</span></p>
                                <a th:href="@{/detalle/{id}(id=${tema.id})}" class="ver-mas-btn">Ver más</a>  
                            </div>
                        </div>                     
                    </div>
                </li>
            </ul>
            <p th:if="${topicos.size() == 0}" class="tema" style="margin: 2rem auto; color: wheat; text-align: center">No hay tópicos para la categoría y subcategoría seleccionadas.</p>
        </div>
        <footer>
            <p>&copy; 2024 ForoTech. Todos los derechos reservados.</p>
        </footer>
        <script th:inline="javascript">
            var tokenJWT = localStorage.getItem('tokenJWT');
            console.log('Token JWT:', tokenJWT);

            // Función para alternar el menú de navegación
            function toggleMenu() {
                var navbarLinks = document.getElementById("navbarLinks");
                navbarLinks.classList.toggle("active");
                if (window.innerWidth > 768) {
                    navbarLinks.classList.remove("active");
                }
                console.log('Menú alternado');
            }

            // Función para mostrar u ocultar subcategorías según el botón
            function mostrarSubcategorias(button) {
                var categoria = button.value;
                var subcategorias = document.getElementById('subcategorias-' + categoria);
                subcategorias.style.display = subcategorias.style.display === 'none' ? 'block' : 'none';
                console.log('Subcategorías de ' + categoria + ' mostradas/ocultadas');
            }
            document.addEventListener("DOMContentLoaded", function () {
                actualizarSubcategorias();
            });

            function actualizarSubcategorias() {
                var categoriaSeleccionada = document.getElementById('categoria').value;
                var subcategoriasPorCategoria = /*[[${subcategoriasPorCategoria}]]*/ {};
                console.log("Categoría seleccionada:", categoriaSeleccionada);
                console.log("Subcategorías por categoría:", subcategoriasPorCategoria);

                var subcategorias = subcategoriasPorCategoria[categoriaSeleccionada];
                var subcategoriaSelect = document.getElementById('subcategoria');
                subcategoriaSelect.innerHTML = ''; // Limpiar opciones actuales

                if (subcategorias) {
                    subcategorias.forEach(function (subcategoria) {
                        var option = document.createElement('option');
                        option.value = subcategoria;
                        option.text = subcategoria;
                        subcategoriaSelect.appendChild(option);
                    });
                } else {
                    console.log("Categoría no encontrada o subcategoriasPorCategoria es nulo:", categoriaSeleccionada);
                }
            }

            function registrarCurso(event) {
                event.preventDefault();

                var token = localStorage.getItem('token'); // Obtener el token del localStorage (o sessionStorage)
                if (!token) {
                    alert('No se ha encontrado el token de autenticación.');
                    return;
                }

                var cursoForm = {
                    nombre: document.getElementById('nombre').value,
                    categoriaPrincipal: document.getElementById('categoria').value,
                    subcategoria: document.getElementById('subcategoria').value
                };

                fetch('/curso/registrar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token // Añadir el token en el encabezado de la solicitud
                    },
                    body: JSON.stringify(cursoForm)
                })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = "/";
                            } else {
                                console.error('Error en el registro del curso:', response.statusText);
                            }
                        })
                        .catch(error => console.error('Error en el registro del curso:', error));
            }

            // Función para enviar un nuevo tópico
            function enviarNuevoTopico(event) {
                event.preventDefault(); // Prevenir el envío del formulario tradicional

                var formData = {
                    titulo: document.getElementById('titulo').value,
                    mensaje: document.getElementById('mensaje').value,
                    cursoId: document.getElementById('cursoId').value
                };

                fetch('/registrarTopico', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + tokenJWT
                    },
                    body: JSON.stringify(formData)
                })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al registrar el tópico');
                                window.location.href = '/login';
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Tópico registrado:', data);
                            window.location.href = '/';
                        })
                        .catch(error => {
                            console.error('Error al registrar el tópico:', error);
                            window.location.href = '/login';
                            mostrarMensajeError('Error al registrar el tópico. Por favor, inténtalo nuevamente.');
                        });
            }

// Evento que se dispara cuando el DOM está completamente cargado
            document.addEventListener('DOMContentLoaded', function () {
                console.log('DOM completamente cargado');

                // Ejemplo de solicitud fetch para obtener tópicos mostrados en la navegación
                fetch('/mostrarTopicos', {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + tokenJWT
                    }
                })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error en la autenticación');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log("Respuesta del endpoint mostrarTopicos", data);
                            // Actualización de la interfaz con nombre de usuario y enlace de logout
                            var navbarLinks = document.getElementById('navbarLinks');
                            var nombreUsuario = document.createElement('span');
                            nombreUsuario.textContent = 'Bienvenido, ' + data.username;
                            nombreUsuario.className = 'usuario-autenticado';
                            navbarLinks.innerHTML = '';
                            navbarLinks.appendChild(nombreUsuario);
                            var logoutLink = document.createElement('a');
                            logoutLink.href = '/logout';
                            logoutLink.textContent = 'Logout';
                            navbarLinks.appendChild(logoutLink);
                        })
                        .catch(error => {
                            console.error('Error al hacer la solicitud de mostrarTopicos:', error);
                        });

                // Agregar evento click a todos los botones 'ver-mas-btn'
                document.querySelectorAll('.ver-mas-btn').forEach(function (link) {
                    link.addEventListener('click', function (event) {
                        event.preventDefault();
                        var url = link.getAttribute('href');
                        var idMatch = url.match(/\/detalle\/(\d+)/);
                        if (!idMatch) {
                            console.error('URL incorrecta para detalleTopico:', url);
                            return;
                        }
                        var id = idMatch[1];
                        console.log("Añadiendo encabezado Authorization a la solicitud de detalle con ID:", id);
                        // Ejemplo de solicitud fetch para detalle de un tópico específico
                        fetch('/detalle/' + id, {
                            method: 'GET',
                            headers: {
                                'Authorization': 'Bearer ' + tokenJWT
                            }
                        })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Error en la autenticación');
                                    }
                                    return response.text();
                                })
                                .then(data => {
                                    // Cambia la URL sin recargar la página
                                    window.history.pushState({}, '', '/detalle/' + id);
                                    // Inserta el contenido recibido en el DOM
                                    document.body.innerHTML = data;
                                    console.log('Contenido del detalle recibido y actualizado en el DOM');
                                })
                                .catch(error => {
                                    console.error('Error al hacer la solicitud de detalle:', error);
                                });
                    });
                });

                // Asignar la función de envío al formulario
                var formNuevoTopico = document.getElementById('formNuevoTopico');
                if (formNuevoTopico) {
                    formNuevoTopico.addEventListener('submit', enviarNuevoTopico);
                }
            });


            // Función para marcar una respuesta como solución
            function marcarSolucion(idRespuesta) {
                fetch('/respuesta/marcarSolucion/' + idRespuesta, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + tokenJWT
                    }
                })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al marcar la respuesta como solución');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Respuesta marcada como solución:', data);
                            actualizarInterfazUsuario(idRespuesta, true);
                        })
                        .catch(error => {
                            console.error('Error al marcar la respuesta como solución:', error);
                        });
            }

            // Función para desmarcar una respuesta como solución
            function desmarcarSolucion(idRespuesta) {
                fetch('/respuesta/desmarcarSolucion/' + idRespuesta, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + tokenJWT
                    }
                })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al desmarcar la respuesta como solución');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Respuesta desmarcada como solución:', data);
                            actualizarInterfazUsuario(idRespuesta, false);
                        })
                        .catch(error => {
                            console.error('Error al desmarcar la respuesta como solución:', error);
                        });
            }

            // Función para actualizar la interfaz de usuario después de marcar/desmarcar una solución
            function actualizarInterfazUsuario(idRespuesta, esSolucion) {
                var listaRespuestas = document.querySelectorAll('.lista-respuestas');
                listaRespuestas.forEach(function (respuesta) {
                    var botonMarcar = respuesta.querySelector('button[id^="btn-marcar-"]');
                    var spanSolucion = respuesta.querySelector('span[id^="span-solucion-"]');
                    var botonDesmarcar = respuesta.querySelector('button[id^="btn-desmarcar-"]');
                    if (esSolucion) {
                        if (respuesta.querySelector(`#btn-marcar-${idRespuesta}`)) {
                            if (botonMarcar) {
                                botonMarcar.style.display = 'none';
                            }
                            if (spanSolucion) {
                                spanSolucion.style.display = 'inline';
                            } else {
                                spanSolucion = document.createElement('span');
                                spanSolucion.id = `span-solucion-${idRespuesta}`;
                                spanSolucion.textContent = 'Solución marcada ';
                                spanSolucion.style.display = 'inline';
                                if (botonMarcar) {
                                    botonMarcar.insertAdjacentElement('afterend', spanSolucion);
                                }
                            }
                            if (botonDesmarcar) {
                                botonDesmarcar.style.display = 'inline';
                            } else {
                                botonDesmarcar = document.createElement('button');
                                botonDesmarcar.id = `btn-desmarcar-${idRespuesta}`;
                                botonDesmarcar.textContent = 'Desmarcar';
                                botonDesmarcar.onclick = function () {
                                    desmarcarSolucion(idRespuesta);
                                };
                                spanSolucion.appendChild(botonDesmarcar);
                            }
                        } else {
                            if (botonMarcar) {
                                botonMarcar.style.display = 'none';
                            }
                        }
                    } else {
                        if (botonMarcar) {
                            botonMarcar.style.display = 'inline';
                        }
                        if (spanSolucion) {
                            spanSolucion.style.display = 'none';
                        }
                        if (botonDesmarcar) {
                            botonDesmarcar.style.display = 'none';
                        }
                    }
                });
                console.log('Interfaz de usuario actualizada para la respuesta con ID:', idRespuesta);
            }
            function enviarRespuesta() {
                var mensaje = document.querySelector('#formNuevaRespuesta textarea[name="mensaje"]').value;
                var topicoId = document.querySelector('#formNuevaRespuesta input[name="topicoId"]').value;
                var autorId = document.querySelector('#formNuevaRespuesta input[name="autorId"]').value;
                console.log("autorId" + autorId);
                if (!autorId) {
                    // Manejar el caso en que autorId no esté disponible
                    console.error('No se pudo obtener el autorId');
                    return; // O mostrar un mensaje al usuario, según sea necesario
                }
                var tokenJWT = localStorage.getItem('tokenJWT');
                var data = {
                    mensaje: mensaje,
                    topicoId: topicoId,
                    autorId: autorId
                };
                fetch('/foro/respuesta/registrar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + tokenJWT
                    },
                    body: JSON.stringify(data)
                })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al registrar la respuesta');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Respuesta registrada:', data);
                            // Actualizar dinámicamente la interfaz de usuario con la respuesta registrada
                            actualizarInterfazUsuarioRespuesta(data);
                        })
                        .catch(error => {
                            console.error('Error al registrar la respuesta:', error);
                            mostrarMensajeError('Error al registrar la respuesta. Por favor, inténtalo nuevamente.');
                        });
            }
            var perteneceAlUsuario = /*[[${perteneceAlUsuario}]]*/ null;
            function actualizarInterfazUsuarioRespuesta(respuestaRegistrada) {
                var listaRespuestas = document.querySelector('#listaRespuestas');
                if (!listaRespuestas) {
                    console.error('Elemento #listaRespuestas no encontrado en el DOM.');
                    mostrarMensajeError('Error al mostrar la respuesta. Por favor, inténtalo nuevamente.');
                    return;
                }

                var nuevaRespuestaHTML = `
        <li class="lista-respuestas">
            <p>${respuestaRegistrada.mensaje}</p>
            <p>Usuario: ${respuestaRegistrada.nombreAutor}</p>
            <p>Fecha: ${respuestaRegistrada.fechaCreacion}</p>
        </li>
    `;
                // Agregar el nuevo HTML al final de la lista de respuestas
                listaRespuestas.insertAdjacentHTML('beforeend', nuevaRespuestaHTML);
                // Limpiar el campo de texto después de enviar la respuesta
                document.querySelector('#formNuevaRespuesta textarea[name="mensaje"]').value = '';
                // Opcional: Mostrar mensaje de éxito
                var mensajeExitoRespuesta = document.querySelector('.mensaje-exito-respuesta');
                if (mensajeExitoRespuesta) {
                    mensajeExitoRespuesta.style.display = 'block'; // Mostrar el mensaje de éxito si está oculto
                    mensajeExitoRespuesta.textContent = '¡Respuesta registrada correctamente!';
                }
            }
            function mostrarMensajeError(mensaje) {
                // Aquí puedes implementar cómo deseas mostrar el mensaje de error al usuario
                alert('Error: ' + mensaje);
            }

            // Configuración global de jQuery para agregar el encabezado JWT en las solicitudes
            $(document).ready(function () {
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        var tokenJWT = localStorage.getItem('tokenJWT');
                        if (tokenJWT) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + tokenJWT);
                        }
                    }
                });
                console.log('Configuración global de jQuery completada');
            });
        </script>
    </body>
</html>
